.matchCard {
    margin: auto;
    display: flex;
    /* display: row; */
    justify-content: center;
    vertical-align: middle;
    /* width: 100%; */
    background: white;
    height: 4vw;
    width: auto;
    text-align: center;
    /* margin-top: 4vw; */
}

.matchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    background-color: white;
    flex-direction: row;
}

.cnt {
    height: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}

.matchCard:hover {
    background: linear-gradient(270deg, #ff2882, #963cff);
}

.matchCard span {
    padding: 0 .03rem;
    font-weight: 400;
    vertical-align: initial;
    color: #37003c;
    position: relative;
}

.team {
    display: flex;
    justify-content: flex-end;
    /* margin: auto; */
    font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    width: 100%;
}

.aba {
    display: flex;
    justify-content: flex-end
}

.score {
    background: #37003c;
    font-size: 1.6rem;
    color: #fff;
    font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    width: 100%;
    height: 2rem;
}

.score div {
    font-size: 1.6rem;
    color: #fff;
    font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 400;
}


/* .team div {
    margin: auto;
    font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    width: 100%;
} */

.matchDay-table {
    background-color: whitesmoke;
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    border: 1px;
    border-color: black;
    /* margin-left: 5%; */
    /* margin-right: 5%; */
}

.matchDay-table thead tr {
    width: 100%;
    /* background: #ff2882; */
    /* text-align: center; */
}

.matchDay-table th {
    color: #6c6c6c;
    font-size: 1.2vw;
    /* padding: 4px 2px; */
}

.matchDay-table td {
    /* padding: 0.4vw 0.2vw; */
    margin-left: 1%;
    margin-right: 1%;
    z-index: 5000;
    font-size: 1.2vw;
    vertical-align: middle;
    /* text-align: center; */
}

.matchDay-table div {
    display: inline;
    /* margin-right: 0.2vw; */
    /* margin-left: 0.2vw; */
    /* text-align: center; */
}

.stmatchDayyled-table td img {
    width: 1rem;
    height: 1rem;
    /* text-align: center; */
}


/* .matchDay-table tr {
    padding-top: 20vh;
    padding-: 20vh;
} */

.hoverYes:hover {
    background: linear-gradient(270deg, #ff2882, #963cff);
}


/* .styled-table td {
    padding: 4px 2px;
} */


/* .matchDay-table tbody tr {
    border-collapse: separate;
    border-spacing: 5em;
} */

.out {
    background-color: yellow;
    height: 10vw;
}

.stadium {
    display: block;
    line-height: 3vw;
    font-size: 2vw;
    font-family: PremierSans-Bold, Arial, Helvetica Neue, Helvetica, sans-serif;
    font-weight: 400;
}

.stadium-logo {
    position: absolute;
    top: 50%;
    padding-left: 5vw;
    transform: translate(-50%, -50%);
    width: 4vw;
    height: 4vw;
}