/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1000000;
    /* padding-top: 100px; */
    left: 30%;
    right: 30%;
    top: 30%;
    /* width: 60%; */
    height: 60%;
    /* overflow: auto; */
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    border: 3px solid black;
}

.modalHeader {
    display: flex;
    flex-direction: row;
}

.modalHeader div {
    margin: 2vw;
    font-weight: bold;
    cursor: pointer;
}


/* Modal Content */

.modal-content {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #f5efef;
    margin: auto;
    /* padding: 20px; */
    border: 1px solid #888;
    border-radius: 10px;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.matchStatistic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#modal-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.matchStatistic #stat-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.progress {
    margin-bottom: 2%;
    background-color: whiteSmoke;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
    width: 15vw;
    height: 20px;
    position: relative;
    display: block;
    direction: rtl;
}

.bar {
    background-color: red;
    transition: width 150ms;
    border-radius: 10px;
}

.percent {
    position: absolute;
    display: inline-block;
    top: 3px;
    border-radius: 10px;
    transform: translateX(-100%);
}

.progress1 {
    margin-bottom: 2%;
    background-color: whiteSmoke;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
    width: 15vw;
    height: 20px;
    position: relative;
    display: block;
}

.bar1 {
    background-color: green;
    transition: width 150ms;
    border-radius: 10px;
}

.percent1 {
    position: absolute;
    display: inline-block;
    top: 3px;
    border-radius: 10px;
    transform: translateX(+100%);
}

.scorersView {
    color: red;
    display: flex;
    flex-direction: column;
}

.playersModalView {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    flex-direction: row;
    width: 100%;
}


.playersContentForModal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.playersContentForModal .playerCard{
    width: 65%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: #D2B48C; */
    border-radius: 5px;
    margin: 15px;
    align-items: center;
    border-color: black;
    border-style: solid;
    font-family: monospace;
}

.playersContentForModal .playerCard .squadPlayerStats{
    display: none;
}

.playersContentForModal .playerCard .squadPlayerHeader img{
    display: none;
}



.scoresFromEachTeam {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
    width: 50%;
}

.scoresFromEachTeam img {
    margin: 60px;
}


.playersContentForModal .playerCard .squadPlayerStats{
    display: none;
}

.playersContentForModal .playerCard{
   width: 150px;
   max-width: 100%;
   display: flex;
   flex-direction: column;
   /* background-color: #D2B48C; */
   border-radius: 5px;
   margin: 15px;
   border-color: black;
   border-style: solid;
   font-family: monospace;
}


@media only screen and (max-width: 900px) {
    .playersModalView {
        display: flex;
        justify-content: center;
    /* align-items: center; */
    /* flex-wrap: wrap; */
        flex-direction: column-reverse;
        width: 100%;
    }

    .scoresFromEachTeam {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }

    .playersContentForModal .playerCard .squadPlayerStats{
         display: none;
    }

    .playersContentForModal .playerCard{
        width: 100px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        /* background-color: #D2B48C; */
        border-radius: 5px;
        margin: 15px;
        border-color: black;
        border-style: solid;
        font-family: monospace;
    }
    
}

/* @media only screen and (min-width: 1200px) {
    .modal {
        display: none;
        position: fixed;
        z-index: 1000000;
        left: 22%;
        top: 30%;
        width: 600px;
        height: 50%;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        border: 3px solid black;
    }
} */


@media only screen and (max-width: 800px) {
    .modal {
        display: none;
        position: fixed;
        z-index: 1000000;
        left: 22%;
        top: 30%;
        width: 55%;
        height: 50%;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        border: 3px solid black;
    }
}

@media only screen and (max-width: 500px) {
    .modal {
        display: none;
        position: fixed;
        z-index: 1000000;
        left: 15%;
        top: 30%;
        width: 68%;
        height: 50%;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        border: 3px solid black;
    }
}